.blocoHome{
    color: white;
    padding: 50px;
    background-color: #363342;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.blocoHome h1{
    margin-bottom: 40px;
}
.menu{
    display: flex;
    flex-direction: column;
    max-width: 620px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
}

.menu button{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s;
    /*box-shadow: 0px 4px 12px rgba(0,0,0,0.3);*/
    color: #7c5cff;
    background-color: #171422;
}

.menu button:hover {
    background-color: #7c5cff;
    color: black;
    transform: translateY(-3px)
}

.menu button:active {
    transform: scale(1.1);
}
